<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name = "common"></include>
<include name = "smoke"></include>
</run>
</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcase.TC004_EditLeads"/>
      <class name="testcase.TC005_MergeLead"/>
      <class name="testcase.TC002_CreateLead"/>
      <class name="testcase.TC004_DuplicateLead"/>
      <class name="testcase.TC003_DeleteLeads"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
